<section id="mapa" class="mapa">
  <div class="mapa__container">
    <header class="mapa__header">
      <h2 class="mapa__title">Ubicación Privilegiada</h2>
      <p class="mapa__subtitle">
        Encuéntranos en Crr68c#23-31
      </p>
    </header>

    <div class="mapa__frame">
      <iframe
        class="mapa__bg"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18187.195527228687!2d-48.63955505621707!3d-26.998405533219703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94d8b70045bf5445%3A0x3b63cb5f3e3db4ef!2sPraia%20Central%20de%20Balne%C3%A1rio%20Cambori%C3%BA!5e0!3m2!1ses-419!2sco!4v1771521448976!5m2!1ses-419!2sco"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        title="Ubicación Hotel Praia"
      ></iframe>

     
    </div>
  </div>
</section>