<nav class="navbar" id="navbar">
      <div class="nav-container">
        <div class="nav-logo">
          <div class="logo-icon" aria-hidden="true">
            <img src="/images/logoPraia.png" alt="logoPraia" />
          </div>
          <span class="logo-text">Hotel Praia</span>
        </div>

        <div class="nav-links" id="navLinks">
          <a href="#inicio" class="nav-link">Inicio</a>
          <a href="#habitaciones" class="nav-link">Habitaciones</a>
          <a href="/servicios/op" class="nav-link">Servicios</a>
          <a href="#galeria" class="nav-link">Galería</a>
          <a href="#testimonios" class="nav-link">Testimonios</a>
          <a href="#contacto" class="nav-link">Contacto</a>
          <a href="habitaciones/reservar" class="nav-link nav-link-cta"
            >Reservar</a
          >
        </div>

        <button
          class="mobile-menu-btn"
          id="mobileMenuBtn"
          type="button"
          aria-label="Abrir menú"
        >
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </nav>

<main style="height: 300vh; background: linear-gradient(to bottom, #08121a, #1a3a5c);">
</main>